@media (max-width: 360px){
    .wishlist-products-container { 
        .wishlist-products-list {
            .wishlist-products-item {
                width: 145px !important; 
                .wishlist-product-image {
                    width: 145px !important;
                    height: 145px !important;
                }
            }
        }
    }
}

@media (max-width: 320px){
    .wishlist-products-container { 
        .wishlist-products-list {
            .wishlist-products-item {
                width: 125px !important; 
                .wishlist-product-image {
                    width: 125px !important;
                    height: 125px !important;
                }
            }
        }
    }
}