.cms-content--default{
    margin: auto;
    padding: 30px 0 100px;
    text-align: justify;
    font-weight: 300;

    br{
        display: none;
    }

    h2{
        @include font-with-line-height($font-size-xm, 23px);

        margin: 0 0 5px;
        font-weight: 400;
    }

    p {
        margin: 0 0 20px;
    }
}

@media(min-width: 1400px){
    .cms-content--default{
        max-width: 1118px;
    }
}

@media(max-width: 767px){
    .cms-content--default{
        padding: 30px 0 50px;
    }
}