.cms{
    &-container--onas{
        font-family: $font-jost;
        color: $black;

        .cms-block__img--desktop{
            display: block;
        }

        .cms-block__img--mobile{
            display: none;
        }
    }

    &-block{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 100px 0;
        border-bottom: $border-block;

        b{
            font-weight: 500;
        }
        
        iframe{
            height: 230px;
        }

        &--full-vid{
            iframe{
                height: 590px;
            }
        }

        &:first-child{
            padding-top: 50px;
        }

        &:last-child{
            border-bottom-style: none;
        }

        &__blockvideo{
            margin: auto;
            display: block;
            border: 0;
            width: 100%;
            max-width: 862px;
            height: auto;
            box-shadow: none;
        }

        &__flex{
            padding-left: 40px;
        }

        &__title{
            font-size: $font-size-xxl !important;
            line-height: 38px !important;
            font-family: $font-forum;
            font-weight: 400 !important;
            margin: 0 0 30px !important;
            text-transform: uppercase;
            color: $black;

            &--center{
                text-align: center;
            }
            
            h1{
                @include font-with-line-height($font-size-xxl, 38px);

                font-family: $font-forum;
                font-weight: 400;
                margin: 0 0 30px;
                text-transform: uppercase;
                color: $black;
            }
        }

        &__quote{
            @include font-with-line-height($font-size-xl, 35px);

            font-weight: 400;
            font-style: italic;
            text-align: center;
            margin: 0 auto 30px;

            &:before,
            &:after{
                content:'"';
            }

            &--small{
                max-width: 862px;
                margin-bottom: 50px;
            }
        }

        &__img{
            width: 100%;
            margin: 30px 0;
            display: block;

            &--main{
                margin: 0 0 50px;
            }

            &--logo{
                max-width: 200px !important;
                margin: 0;
            }

            &--small{
                max-width: 862px !important;
                margin: 0 auto;
            }

            &--big{
                margin-top: 5px;
            }

            &--full{
                margin-top: 50px;
                margin-bottom: 0;
            }
        }

        &__video{
            height: 275px;
        }

        &__content{
            @include font-with-line-height($font-size-md, 24px);

            font-weight: 300;
            text-align: justify;

            &--small{
                padding-left: 30px;
            }

            &--mtop{
                padding-top: 30px;

                img{
                    height: 535px;
                    object-fit: cover;
                }
            }

            &--bold{
                @include font-with-line-height($font-size-xm, 27px);

                font-weight: 400;
            }

            &--half{
                margin-bottom: -20px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                p{
                    flex: 0 0 49%;
                    width: 49%;
                }
            }   
        }
    }
}

@media(min-width: 1400px){
    .cms{
        &-container--onas{
            max-width: 1284px;
        }
    }
}

@media(max-width: 1199px){
    .cms-block{
        iframe{
            height: 253px;
        }

        &--full-vid{
            iframe{
                height: 495px;
            }
        }

        &__content--mtop{
            img{
                height: 655px;
            }
        }
    }
}

@media(max-width: 991px){
    .cms-block__content--small{
        &.cms-block__content--mtop{
            padding: 0;
        }
    }

    .cms-block{
        iframe{
            height: 349px;
        }

        &--full-vid{
            iframe{
                height: 370px;
            }
        }

        &__content--mtop{
            img{
                height: auto;
            }
        }
    }
}

@media(max-width: 767px){
    .cms{
        &-container--onas{
            .cms-block__title{
                text-align: center;
            }

            .cms-block__flex{
                padding-left: 0;
            }

            .cms-block__img--logo{
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .cms-block__img--full{
                min-height: 250px;
                object-fit: cover;
            }

            .cms-block__img--desktop{
                display: none;
            }

            .cms-block__img--mobile{
                display: block;
                margin: 30px auto;
            }

            .cms-block__content--mtop{
                padding-top: 0;
            }
        }

        &-block{
            padding: 30px 0;

            iframe{
                height: 293px;
            }

            &--full-vid{
                iframe{
                    height: 275px;
                }
            }

            &__content{
                @include font-with-line-height($font-size-sm, 20px);

                &--small{
                    padding-left: 0;
                }

                &--bold{
                    @include font-with-line-height($font-size-md, 22px);
                }

                &--half{
                    flex-direction: column;

                    p{
                        width: 100%;
                        flex: 0 0 100%;
                    }
                }
            }

            &__quote{
                @include font-with-line-height($font-size-md, 24px);
            }

            &__video{
                margin-top: 30px;
                height: 300px;
            }

            &__img{
                &--logo{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media(max-width: 575px){
    .cms-block{
        iframe{
            height: 200px;
        }

        &--full-vid{
            iframe{
                height: 200px;
            }
        }
    }
}

@media(max-width: 420px){
    .cms{
        &-block{
            &__video{
                height: 200px;
                margin-top: 0;
            }
        }
    }
}