.cms{
    &-container--onas{
        font-family: $font-jost;
        color: $black;
    }

    &-block{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 100px 0;
        border-bottom: $border-block;

        &:first-child{
            padding-top: 50px;
        }

        &:last-child{
            border-bottom-style: none;
        }

        &__blockvideo{
            margin: auto;
            display: block;
            border: 0;
            width: 100%;
            max-width: 862px;
            height: auto;
            box-shadow: none;
        }

        &__flex{
            padding-left: 40px;
        }

        &__title{
            @include font-with-line-height($font-size-xxl, 38px);

            font-family: $font-forum;
            font-weight: 400;
            margin: 0 0 30px;
            text-transform: uppercase;
            color: $black;

            &--center{
                text-align: center;
            }
            
            h1{
                @include font-with-line-height($font-size-xxl, 38px);

                font-family: $font-forum;
                font-weight: 400;
                margin: 0 0 30px;
                text-transform: uppercase;
                color: $black;
            }
        }

        &__quote{
            @include font-with-line-height($font-size-xl, 35px);

            font-weight: 400;
            font-style: italic;
            text-align: center;
            margin: 0 auto 30px;

            &:before,
            &:after{
                content:'"';
            }

            &--small{
                max-width: 862px;
                margin-bottom: 50px;
            }
        }

        &__img{
            width: 100%;
            margin: 30px 0;
            display: block;

            &--main{
                margin: 0 0 50px;
            }

            &--logo{
                max-width: 90px !important;
                margin: 0;
            }

            &--small{
                max-width: 862px !important;
                margin: 0 auto;
            }

            &--big{
                margin-top: 5px;
            }

            &--full{
                margin-top: 50px;
                margin-bottom: 0;
            }
        }

        &__video{
            height: 275px;
        }

        &__content{
            @include font-with-line-height($font-size-md, 24px);

            font-weight: 300;
            text-align: justify;

            &--small{
                padding-left: 30px;
            }

            &--mtop{
                padding-top: 30px;
            }

            &--bold{
                @include font-with-line-height($font-size-xm, 27px);

                font-weight: 400;
            }

            &--half{
                column-count: 2;
                margin-bottom: -20px;
            }
        }
    }
}

@media(min-width: 1400px){
    .cms{
        &-container--onas{
            max-width: 1284px;
        }
    }
}

@media(max-width: 991px){
    .cms-block__content--small{
        &.cms-block__content--mtop{
            padding: 0;
        }
    }
}

@media(max-width: 767px){
    .cms{
        &-block{
            padding: 30px 0;

            &__title{
                @include font-with-line-height($font-size-xl, 26px);
                
                h1{
                    @include font-with-line-height($font-size-xl, 26px);
                }
            }

            &__content{
                @include font-with-line-height($font-size-sm, 20px);

                &--small{
                    padding-left: 0;
                }

                &--bold{
                    @include font-with-line-height($font-size-md, 22px);
                }

                &--half{
                    column-count: 1;
                }
            }

            &__quote{
                @include font-with-line-height($font-size-md, 24px);
            }

            &__video{
                margin-top: 30px;
                height: 300px;
            }

            &__img{
                &--logo{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media(max-width: 420px){
    .cms{
        &-block{
            &__video{
                height: 200px;
                margin-top: 0;
            }
        }
    }
}