.cms-content--default{
    margin: auto;
    padding: 30px 0 100px;
    text-align: justify;

    br{
        display: none;
    }

    h2{
        @include font-with-line-height($font-size-xm, 24px);

        margin: 0 0 5px;
        font-weight: 400;
    }

    p{
        @include font-with-line-height($font-size-md, 22px);

        margin: 0 0 20px;
        font-weight: 300;
    }
}

@media(min-width: 1400px){
    .cms-content--default{
        max-width: 1094px;
    }
}

@media(max-width: 767px){
    .cms-content--default{
        padding: 30px 0 50px;

        h2{
            @include font-with-line-height($font-size-md, 22px);
        }
    
        p{
            @include font-with-line-height($font-size-sm, 20px);
        }
    }
}