@import "page-customer-account/index";
@import "product/index";
@import "customer/index";
@import "cart/index";
@import "cms/index";
@import "menu/index";
@import "404/index";
@import "newsletter/index";
@import "homeslider/index";
@import "search/index";
@import "page-loader/index";
@import "links-list/index";
@import "lazyload/index";
@import "home/bestseller";
@import "home/blockwishlist";
@import "home/blockbannerslider";
@import "home/blockcontentvideo";
@import "home/blockfeaturedproduct";
@import "home/blockfullbanner";
@import "home/blockhomesections";
@import "home/blockreassurance";
@import "home/blocknewsletter";
@import "home/blockinstagram";
@import "home/base";
@import "contact/base";
@import "collapsed/base";
@import "blog/index";