
.l-footer {
  padding-top: map-get($spacers, 5);
  margin-top: auto;
}


.footer-container {
  padding-top: 126px;
  padding-bottom: map-get($spacers, 2);
  background: #000;

  @include media-breakpoint-down(sm) {
    padding-top: 188px;
  }

  .container {
    max-width: 1001px;
  }

  .btn-light {
    background-color: #aeaeae;
    border-color: #aeaeae;
    color: #000;
  }

  .h6,
  .links-list__link {
    letter-spacing: 0.1em;
  }

  .links-list__link {
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      color: #fff;
    }
  }

  &__logo {
    max-width: 341px;
    margin-bottom: 160px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 188px;
    }
  }

  &__payment {
    max-width: 110px;
  }

  hr {
    border-color: #535353;
  }
}

.block-social {
  @include media-breakpoint-up(sm) {
    display: none;
  }

  #block_myaccount_infos & {
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}
