
.l-footer {
  margin-top: auto;
}

.footer-paralax-wrapper {
  position: relative;
  z-index: 99;
  background: #fff;
}

.paralax-placeholder {
  z-index: 1;
  position: relative;
}

.footer-container {
  padding-top: 126px;
  padding-bottom: map-get($spacers, 2);
  background: #000;

  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  @include media-breakpoint-down(sm) {
    padding-top: 188px;
  }

  .container {
    max-width: 1001px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .btn-light {
    background-color: #aeaeae;
    border-color: #aeaeae;
    color: #000;
  }

  .h6,
  .links-list__link {
    letter-spacing: 0.1em;
  }

  .links-list__link {
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
    transition: .3s ease;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .icon-collapse {
    color: #fff;
  }

  .footer-collapse {
    @include media-breakpoint-down(sm) {
      border-top: 1px solid rgba(255, 255, 255, 0.37);
      padding-top: 14px;
    }
  }

  &__logo {
    max-width: 341px;
    margin-bottom: 160px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 188px;
      max-width: 193px;
    }
  }

  &__payment {
    max-width: 110px;
  }

  hr {
    border-color: #535353;
  }
}

.block-social {
  li {
    @include media-breakpoint-down(sm) {
      max-width: 26px;
      flex: 0 0 26px;
      padding: 0;
      margin-right: 10px;
    }
  }
}
