
.l-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

@mixin custom-psheader-title {
  font-size: 35px !important;
  line-height: 39px !important;
  font-weight: 400 !important;
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

section#main {

  a {
    color:#000;
  }
  .ts-12 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
}
.page-home {

  .pslabo-full-width {
    width: 100%;
  }

  .custom-psheader-title {
    @include custom-psheader-title;
  }

  .profumolabo-section {
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
    padding: 80px 0;
    margin:50px 0 0 !important;

    p {
      line-height: 26px;
    } 
    a {
      text-decoration: underline;
    }
  }
}

.page-home .tab-pane .products-list__block.products-list__block--grid {
  float: left;
  width: 25%;
}
.page-home .arpl-group-5 .nav.nav-tabs li {
  width: 50%;
}
.page-home .arpl-group-5 .nav.nav-tabs li:first-child {
  text-align: right;
}


.page-home {
  font-family: Jost,sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;

  .arpl-header {
    margin: 50px 0 !important;
  }

  .arpl-header h2 {
    font-size: 35px;
    line-height: 39px;
    font-weight: 400;
  }
}  


.page-home {

  .arpl-product-list-view {
    width: 50%;
    margin: 0 auto;

    > li {
      padding: 0 !important;
      min-height: 450px;
    }
    //thumb
    .arpl-thumb {
      position: absolute;
      width: 50%;
      top: 0;
      left: 0;

      img {
        width: 100%;
        max-width: unset;
      }      

      .product-flags {
        text-align: center;
      }
    }

    //content
    .arpl-content {
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
      width: 50%;

      .product-title,
      .price {
        display: block;
        color:black;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        border: 0;

        a {
          font-size: unset;
          font-weight: unset;
        }
      }

    }

    //button
    .arpl-buttons {
      display: block;
      position: absolute;
      top: unset;
      bottom: 50px;
      width: 50%;

      .btn-primary {
        color: #fff !important;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;       
        width: 100%;
        background-color: #000;
        border-radius: 0;
        border: 0;
      }
    }
  }
}
      
.page-home {

  .arpl-featured-categories {
    border-bottom: 1px solid #969696 !important;
    padding-bottom: 50px !important;

    .arpl-cat-img {
      background: url(~/img/circle-bg.png) center center no-repeat;
    }

    .arpl-cat-img img {
      width: 200px !important;
    }

    .arpl-cat-title {
      padding: 20px 0;
    }

    .arpl-cat-title a {
      color: black;
      font-weight: 400;
    }
  }
} 
  
.page-home {
  
  .nav.nav-tabs {
    border-color: transparent;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    .nav-item {
      width: 50%;
      border-color: transparent;
      border: 0;

      
      .nav-link,
      .nav-link.active {
        font-size: 25px !important;
        font-weight: 300;
        color: #000;
        border: 0 !important;
        padding: 0 20px;
      }
      .nav-link.active {
        font-weight: 400;
      }

      &:first-child {
        text-align: right;
        border-right: 1px solid #000;
      }

    }
  }

  .arpl-tab-content {
    background-color: #fff;
    border: 0 !important;
    padding: 50px 15% 100px;
  }

  

  .arpl-tab-pane {

    .featured-products {
      float: left;
      width: 100%;

      .arpl-header {
        display: none;
      }

      .arpl-more-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center
      }
    }

    .product-miniature.card {
      border: 0;
    }
    .product-miniature__thumb {
      text-align:center;

      .product-flags,
      .product-miniature__quick-view {
        display: none !important;
      }
    }
    .product-miniature__title {
      font-size: 12px;
      font-weight: 400;
      text-align:center;
    }
    .product-miniature__pricing {
      text-align: center !important;

      .price {
        font-size: 12px;
        font-weight: 400;
        color: #000;
      }
    }
    .product-miniature__actions {
      display: none !important;
    }
  }

}

@media screen and (max-width:991px) {
  .page-home {

    .products-list__block.products-list__block--grid {
      width: 50%;
    }
    .arpl-tab-content {
      padding: 50px 0px !important;
    }

    .arpl-product-list-view {
      width: 100% !important;
    }
  }
}

@media screen and (max-width:767px) {
  .page-home {

    .products-list__block.products-list__block--grid {
      width: 100%;
    }
  }
}

.page-home {

  .see-the-products {
    padding-bottom: 100px;
    border-bottom: 1px solid #969696;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
    .title {
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.05em;
      font-weight: 400;
    }
    .link {
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
      text-decoration:underline;
      margin-top: 50px;

      a {
        color: #000;
      }
    }
  }
}

.page-home {

  .arpl-carousel-products.owl-carousel .owl-item img {
    margin: 0 auto !important;
  }
  .arpl-carousel-products.owl-carousel .product-miniature {
    width: 100% !important;
  }

  .arpl-carousel-products .products-list__block.products-list__block--grid {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .products-list__block.products-list__block--grid {
    float: left;
    width: 16.6%;
    min-height: 370px;
  
    .product-miniature.card {
      border: 0;
    }
    .product-miniature__thumb {
      text-align:center;

      .product-flags,
      .product-miniature__quick-view {
        display: none !important;
      }
    }
    .product-miniature__title {
      font-size: 12px;
      font-weight: 400;
      text-align:center;
    }
    .product-miniature__pricing {
      text-align: center !important;

      .price {
        font-size: 12px;
        font-weight: 400;
        color: #000;
      }
    }
    .product-miniature__actions {
      display: none !important;
    }

  }

  .arpl-more-container {
    width: 100%; 
    text-align: center;
  }

  #arpl-group-8 {
    padding-bottom:50px;
    border-bottom: 1px #969696 solid;
  }

}

html[lang="en-GB"] {

  .arpl-more-link {
    font-size: 0;
    color: #000;
  
    i.material-icons {
      display: none;
    }
  
    &:before {
      font-size: $font-size-sm;
      content: "Read More";
    }
  }

  #arpl-group-5:before {
    content: "BEST SELLER";
    display: block;
    text-align: center;
    padding: 50px 0 30px;
    @include custom-psheader-title;
  }
  
  #arpl-group-8 .arpl-header h2:after {
    content: "Extremely durable and at the same time gentle to the skin Extremely durable and gentle to the skin at the same time";
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
  }

}

html[lang="pl-PL"] {
  
  .arpl-more-link {
    font-size: 0;
    color: #000;
  
    i.material-icons {
      display: none;
    }
  
    &:before {
      font-size: $font-size-sm;
      content: "ZOBACZ WIĘCEJ";
    }
  
  }

  #arpl-group-5:before {
    content: "BESTSELLERY";
    display: block;
    text-align: center;
    padding: 50px 0 30px;
    @include custom-psheader-title;
  }
  
  

  #arpl-group-8 .arpl-header h2:after {
    content: "Ekstremalnie trwałe i jednocześnie delikatne dla skóry kstremalnie trwałe i jednocześnie delikatne dla skóry";
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
  }
}

