
.l-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

@mixin custom-psheader-title {
  font-size: 35px;
  line-height: 39px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

section#main {
  a {
    color:$black;
  }

  .ts-12 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  }
}

.homeslider{
  .homeslider__arrow{
    display: none;
  }
}

.page-home {
  font-family: $font-jost;
  font-weight: 400;
  letter-spacing: 0.1em;

  .pslabo-full-width {
    width: 100%;
  }

  .custom-psheader-title {
    @include custom-psheader-title;
  }

  .profumolabo-section {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: 80px 0;
    margin: 50px 0 0 !important;

    &__content{
      background: url(~/img/profumo-labo-content.png) center center no-repeat;
      background-size: contain;
    }

    p {
      line-height: 26px;
    } 

    a {
      text-decoration: underline;

      &:hover{
        color: $brown !important;
      }
    }
  }

  .tab-pane .products-list__block.products-list__block--grid {
    float: left;
    width: 25%;
  }

  .arpl-group-5 .nav.nav-tabs li {
    width: 50%;

    &:first-child {
      text-align: right;
    }
  }

  .arpl-header {
    margin: 50px 0 !important;

    h2 {
      font-size: 35px;
      line-height: 39px;
      font-weight: 400;
    }
  }

  .arpl-product-list-view {
    width: 50%;
    margin: 0 auto;

    > li {
      padding: 0 !important;
      min-height: 450px;
    }

    .arpl-thumb {
      position: absolute;
      width: 50%;
      top: 0;
      left: 0;

      img {
        width: 100%;
        max-width: unset;
      }      

      .product-flags {
        text-align: center;
      }
    }

    .arpl-content {
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
      width: 50%;

      .product-title,
      .price {
        display: block;
        color:black;
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        border: 0;

        a {
          font-size: unset;
          font-weight: unset;
        }
      }

    }

    .arpl-buttons {
      display: block;
      position: absolute;
      top: unset;
      bottom: 50px;
      width: 50%;

      .btn-primary {
        color: #fff !important;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;       
        width: 100%;
        background-color: $black;
        border-radius: 0;
        border: 0;
      }
    }
  }

  .arpl-featured-categories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding-bottom: 50px !important;

    .arpl-cat-img {
      background: url(~/img/circle-bg.png) center center no-repeat;
      background-size: 70%;
    }

    .arpl-cat-img img {
      width: 200px !important;
    }

    .arpl-cat-title {
      padding: 20px 0;
    }

    .arpl-cat-title a {
      color: $black;
      font-weight: 400;
    }
  }
  
  .nav.nav-tabs {
    border-color: transparent;
    border-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    .nav-item {
      width: 50%;
      border-color: transparent;
      border: 0;

      .nav-link,
      .nav-link.active {
        font-size: 25px !important;
        font-weight: 300;
        color: $black;
        border: 0 !important;
        padding: 0 20px;
      }

      .nav-link.active {
        font-weight: 400;
      }

      &:first-child {
        text-align: right;
        border-right: 1px solid $black;
      }

    }
  }

  .arpl-tab-content {
    background-color: $white;
    border: 0 !important;
    padding: 50px 15% 100px;
  }

  .arpl-tab-pane {
    .featured-products {
      float: left;
      width: 100%;

      .arpl-header {
        display: none;
      }

      .arpl-more-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center
      }
    }

    .product-miniature.card {
      border: 0;
    }

    .product-miniature__thumb {
      text-align:center;

      .product-flags,
      .product-miniature__quick-view {
        display: none !important;
      }
    }

    .product-miniature__title {
      font-size: 12px;
      font-weight: 400;
      text-align:center;
    }

    .product-miniature__pricing {
      text-align: center !important;

      .price {
        font-size: 12px;
        font-weight: 400;
        color: $black;
      }
    }

    .product-miniature__actions {
      display: none !important;
    }
  }  
  
  .see-the-products {
    padding-bottom: 100px;
    border-bottom: 1px solid $gray;
    margin-bottom: 50px;

    img {
      width: 100%;
    }
    .title {
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.05em;
      font-weight: 400;
    }
    .link {
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
      text-decoration:underline;
      margin-top: 50px;

      a {
        color: $black;

        &:hover{
          color: $brown !important;
        }
      }
    }
  }

  .arpl-carousel-products.owl-carousel .owl-item img {
    margin: 0 auto !important;
  }

  .arpl-carousel-products.owl-carousel .product-miniature {
    width: 100% !important;
  }

  .arpl-carousel-products .products-list__block.products-list__block--grid {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .products-list__block.products-list__block--grid {
    float: left;
    width: 16.6%;
    min-height: 370px;
  
    .product-miniature.card {
      border: 0;
    }
    .product-miniature__thumb {
      text-align:center;

      .product-flags,
      .product-miniature__quick-view {
        display: none !important;
      }
    }
    .product-miniature__title {
      font-size: 12px;
      font-weight: 400;
      text-align:center;
    }

    .product-miniature__pricing {
      text-align: center !important;

      .price {
        font-size: 12px;
        font-weight: 400;
        color: $black;
      }
    }
    .product-miniature__actions {
      display: none !important;
    }

  }

  .arpl-more-container {
    width: 100%; 
    text-align: center;
  }

  #arpl-group-8 {
    padding-bottom: 50px;
    border-bottom: 1px $gray solid;
  }

  #arpl-tab-7,
  #arpl-group-1,
  #arpl-group-8{
    .arpl-more-link{
      text-decoration: underline;
      
      &:hover{
        color: $brown;
      }
    }
  }

  .see-the-products{
    width: 100%;

    &__item{
      padding: 0 10px;
    }
  }

  #arpl-group-10{
    .arpl-header{
      display: none;
    }
  }
}

html[lang="en-US"] {
  .arpl-more-link {
    font-size: 0;
    color: $black;
  
    i.material-icons {
      display: none;
    }
  
    &:before {
      font-size: $font-size-sm;
      content: "Read More";
    }
  }

  #arpl-group-5:before,
  #arpl-group-9:before {
    content: "BEST SELLER";
    display: block;
    text-align: center;
    padding: 50px 0 30px;
    @include custom-psheader-title;
  }
  
  #arpl-group-8 .arpl-header h2:after {
    content: "Extremely durable and at the same time gentle to the skin Extremely durable and gentle to the skin at the same time";
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
  }
}

html[lang="pl-PL"] {
  .arpl-more-link {
    font-size: 0;
    color: $black;
  
    i.material-icons {
      display: none;
    }
  
    &:before {
      font-size: $font-size-sm;
      content: "ZOBACZ WIĘCEJ";
    }
  }

  #arpl-group-5:before,
  #arpl-group-9:before {
    content: "BESTSELLERY";
    display: block;
    text-align: center;
    padding: 50px 0 30px;
    @include custom-psheader-title;
  }

  #arpl-group-8 .arpl-header h2:after {
    content: "Ekstremalnie trwałe i jednocześnie delikatne dla skóry kstremalnie trwałe i jednocześnie delikatne dla skóry";
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
  }

  #arpl-group-4{
    .featured-products{
      .arpl-thumb{
        .product-flags{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width:991px) {
  .page-home {
    .arpl-tab-content {
      padding: 50px 0px !important;
    }

    .arpl-product-list-view {
      width: 100% !important;
    }

    .products-list__block.products-list__block--grid {
      width: 100%;
    }

    section .container.mt-5.py-6.px-4{
      padding: 30px 0 !important;
      margin: 0 !important;

      .col-lg-6.text-center{
        img{
          max-width: 60px !important;
        }

        p{
          font-size: $font-size-xs;
        }
      }

      .col-lg-6{
        iframe{
          height: 165px !important;
        }
      }
    }

    .arpl-group{
      margin-top: 0 !important;
      margin-bottom: 30px !important;
    }

    #arpl-group-4{
      .featured-products{
        padding-bottom: 0;

        .arpl-header{
          margin: 0 0 30px !important;

          .arpl-title{
            font-size: $font-size-xm;
            margin: 0;
          }
        }

        .arpl-thumb,
        .arpl-content,
        .arpl-buttons{
          position: relative;
          bottom: auto;
          left: auto;
          right: auto;
          top: auto;
          margin: auto;
          text-align: center;
          width: 100%;
          font-size: $font-size-xs;

          .h3.product-title,
          .arpl-content-desc,
          .product-price-and-shipping{
            text-align: center;
            font-size: $font-size-xs;

            .price{
              font-size: $font-size-xm;
            }
          }

          img{
            width: auto;
          }
        }
      }
    }

    #arpl-group-6{
      .arpl-featured-categories{
        padding-bottom: 0 !important;
        margin-bottom: 0;

        .arpl-header{
          margin: 0 0 30px !important;

          .arpl-title{
            font-size: $font-size-xm;
            margin: 0;
          }
        }

        .featured-products{
          display: flex;
          flex-wrap: wrap;

          .arpl-category{
            width: 33.333333%;
            flex: 0 0 33%;

            .arpl-cat-title a{
              font-size: $font-size-xs;
              letter-spacing: 0px;
            }
          }
        }
      }
    }

    #arpl-group-5,
    #arpl-group-9{
      &:before{
        font-size: $font-size-xl !important;
        padding: 0 !important;
        margin: 0;
      }

      .nav.nav-tabs{
        display: block;
        text-align: center;

        .nav-item{
          width: 45%;
          display: inline-block;

          &:last-child{
            text-align: left;
          }

          a{
            font-size: $font-size-sm !important;
          }
        }
      }

      .arpl-tab-content{
        padding: 0 !important;

        .arpl-tab-header{
          display: none;
        }
      }
    }

    #custom-text{
      .custom-psheader-title{
        margin: 0 0 30px !important;
        padding: 0 !important;
        font-size: $font-size-xm;
      }

      p{
        font-size: $font-size-xs;
      }

      & + section{
        & > h2{
          &.custom-psheader-title{
            padding-bottom: 0 !important;
            margin-bottom: 30px !important;
            font-size: $font-size-xm;
            margin-top: 0 !important;
            padding-top: 0 !important;
          }
        }
  
        .row.mb-5{
          font-size: $font-size-sm;
          margin-bottom: 0 !important;
  
          .mx-auto.text-center{
            margin-bottom: 0 !important;
          }
        }
  
        p{
          margin-bottom: 0 !important;
        }
  
        img{
          object-fit: cover;
          width: 318px !important;
          height: 318px;
          margin: 30px auto;
          display: block;
        }
      }
    }

    .see-the-products{
      padding: 0 0 30px;
      margin: 0 0 30px !important;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;

      &__item{
        max-width: 300px;
        margin: 0 auto;
        position: relative;
        font-size: $font-size-xs;

        .title{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          color: $white;
          font-size: $font-size-xm;
        }

        img{
          margin-bottom: 30px;
        }
      }

      .slick-dots{
        bottom: 0;
        position: relative;

        li{
          width: auto;
          height: auto;
          margin: 0 5px;
        }

        button{
          width: 10px;
          height: 10px;
          background-color: $light-gray;
          display: block;
          padding: 0;
          border-radius: 50%;

          &:before{
            display: none;
          }

          &:hover{
            background-color: $dark-gray;
          }
        }

        .slick-active{
          button{
            background-color: $dark-gray;
          }
        }
      }
    }

    #arpl-group-5,
    #arpl-group-9,
    #arpl-group-10,
    #arpl-group-11{
      .featured-products{
        .product-miniature{
          &__title{
            height: auto;
          }

          &__pricing {
            margin: 0;
          }
        }

        .products-list__block.products-list__block--grid{
          min-height: auto;
          margin-bottom: 0;
        }

        .owl-nav{
          button{
            width: 20px;
            height: 20px;
            margin: 0;
            background: $white;
            color: $gray;

            &:focus,
            &:hover{
              background: $white;
              color: $gray;
            }
          }
        }
      }
    }

    #arpl-group-10{
      .arpl-header{
        display: none;
      }
    }

    #arpl-group-11{
      margin-bottom: 0 !important;

      .arpl-header{
        margin: 30px 0 !important;

        .arpl-title{
          font-size: $font-size-xm;
          margin: 0;
        }
      }

      .arpl-section{
        margin-bottom: 0;
      }
    }

    .profumolabo-section{
      border-top: 1px solid rgba(0, 0, 0, 0.07) !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
      padding: 0;
      margin: 0 0 30px;

      img{
        margin: 30px auto;
      }

      .col-md-6{
        order: 2;
      }

      .col-md-6.px-6.py-6{
        order: 1;
        padding: 0 !important;
        text-align: center;

        .custom-psheader-title{
          font-size: $font-size-xm;
          margin: 30px 0;
          padding: 0 !important;
        }

        .profumolabo-section__content{
          font-size: $font-size-sm;

          p{
            line-height: 22px;
          }

          & + a{
            margin-top: 30px;
            display: block;
          }
        }
      }
    }
  }
}