{% trans_default_domain 'Modules.Eparagony.Eparagony' %}

<li class="nav-item" role="presentation">
    <a class="nav-link" id="eparagony-admin-order-tab-link" data-toggle="tab" href="#eparagony-admin-order-tab-content" role="tab">e-paragony</a>
</li>
