$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e900";
$icon-gplus: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-pinterest: "\e904";
$icon-rss: "\e905";
$icon-twitter: "\e906";
$icon-vimeo: "\e907";
$icon-youtube: "\e908";

$font-jost: 'Jost', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-size-sm: 14px;

$white: #ffffff;
$black: #000000;
$light-gray: #C4C4C4;
$border-menu-gray: #A8A8A8;
$dark-gray: #777777;
$brown: #CCB48F;