/*=============================================================================*/
/*  PW Instagram feed
/*  ---
/*  PRESTAWORKS AB (www.prestaworks.se)
/*=============================================================================*/

    [id="pwinstafeed"],
    [id="pwip"],
    [id="pwi"] {
        clear: both;
        display: block;
        width: 100%;
    }
        .pwip__feed:after,
        .pwi__feed:after {
            clear: both;
            content: '';
            display: block;
        }
        [data-spacing="0"] .pwip__feed,
        [data-spacing="0"] .pwi__feed {
            margin: 0;
        }
        [data-spacing="10"] .pwip__feed,
        [data-spacing="10"] .pwi__feed {
            margin: 0 -5px;
        }
        [data-spacing="20"] .pwip__feed,
        [data-spacing="20"] .pwi__feed {
            margin: 0 -10px;
        }
        [data-spacing="30"] .pwip__feed,
        [data-spacing="30"] .pwi__feed {
            margin: 0 -15px;
        }
        .pwip__loadmore {
            background-color: #f5f5f5;
            border: 0;
            display: block;
            font-family: inherit;
            font-size: inherit;
            font-weight: 700;
            line-height: 1;
            margin: 5px 0 0;
            padding: 15px 30px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            width: 100%;
        }
            .pwip__loadmore:hover,
            .pwip__loadmore:focus {
                opacity: 0.9;
                outline: 0;
            }
            [data-style="rounded"] .pwip__loadmore {
                border-radius: 5px;
            }
            [data-style="circle"] .pwip__loadmore {
                border-radius: 3em;
            }
            [data-spacing="10"] .pwip__loadmore {
                margin-top: 5px;
            }
            [data-spacing="20"] .pwip__loadmore {
                margin-top: 10px;
            }
            [data-spacing="30"] .pwip__loadmore {
                margin-top: 15px;
            }
        .pwip__feed__entry,
        .pwi__feed__entry {
            display: block;
            float: left;
            position: relative;
        }
            .pwic-carousel .pwi__feed__entry {
                width: 100%;
            }
            .pwip__feed__entry__inner,
            .pwi__feed__entry__inner {
                overflow: hidden;
                padding-top: 100%;
                position: relative;
                z-index: 0;
            }
                .pwip__feed__entry__media,
                .pwi__feed__entry__media {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
            [data-spacing="0"] .pwip__feed__entry,
            [data-spacing="0"] .pwi__feed__entry {
                padding: 0;
            }
            [data-spacing="10"] .pwip__feed__entry,
            [data-spacing="10"] .pwi__feed__entry {
                padding: 5px;
            }
            [data-spacing="20"] .pwip__feed__entry,
            [data-spacing="20"] .pwi__feed__entry {
                padding: 10px;
            }
            [data-spacing="30"] .pwip__feed__entry,
            [data-spacing="30"] .pwi__feed__entry {
                padding: 15px;
            }
            .pwip__feed__entry__link {

            }
            [data-style="rounded"] .pwip__feed__entry__inner,
            [data-style="rounded"] .pwi__feed__entry__inner {
                border-radius: 5px;
            }
            [data-style="circle"] .pwip__feed__entry__inner,
            [data-style="circle"] .pwi__feed__entry__inner {
                border-radius: 100%;
            }
            .pwip__feed__hover,
            .pwi__feed__hover {
                background-color: rgba(0, 0, 0, 0.7);
                content: '';
                display: block;
                opacity: 0;
                pointer-events: none;
                -webkit-transition: opacity 150ms ease-in-out;
                        transition: opacity 150ms ease-in-out;

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: 1;
            }
                [data-style="rounded"] .pwip__feed__hover,
                [data-style="rounded"] .pwi__feed__hover {
                    border-radius: 5px;
                }
                [data-style="circle"] .pwip__feed__hover,
                [data-style="circle"] .pwi__feed__hover {
                    border-radius: 100%;
                }
                .pwip__feed__entry:hover .pwip__feed__hover,
                .pwi__feed__entry:hover .pwi__feed__hover {
                    opacity: 1;
                }
        .pwip__feed__entry__meta,
        .pwi__feed__entry__meta {
            opacity: 0;
            pointer-events: none;
            -webkit-transition: opacity 150ms ease-in-out;
                    transition: opacity 150ms ease-in-out;

            position: absolute;
            top: 50%;
            left: 50%;

            -webkit-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
        }
            .pwip__feed__entry:hover .pwip__feed__entry__meta,
            .pwi__feed__entry:hover .pwi__feed__entry__meta {
                opacity: 1;
            }
            .pwip__feed__entry__likes,
            .pwip__feed__entry__comments,
            .pwi__feed__entry__likes,
            .pwi__feed__entry__comments {
                color: #fff;
                display: block;
                font-size: 14px;
                line-height: 16px;
            }
                .pwip__feed__entry__likes:after,
                .pwip__feed__entry__comments:after,
                .pwi__feed__entry__likes:after,
                .pwi__feed__entry__comments:after {
                    clear: both;
                    content: '';
                    display: block;
                }
                .pwip__feed__entry__likes i,
                .pwip__feed__entry__likes i:before,
                .pwip__feed__entry__comments i,
                .pwip__feed__entry__comments i:before,
                .pwi__feed__entry__likes i,
                .pwi__feed__entry__likes i:before,
                .pwi__feed__entry__comments i,
                .pwi__feed__entry__comments i:before {
                    color: #fff;
                    display: block;
                    float: left;
                    font-size: 18px;
                    line-height: 1;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                }
                    .pwip__feed__entry__likes i,
                    .pwip__feed__entry__comments i,
                    .pwi__feed__entry__likes i,
                    .pwi__feed__entry__comments i {
                        margin-right: 5px;
                    }










/*=============================================================================*/
/*  Basic 12 column grid
/*=============================================================================*/

    .pwi-xs-1  { width: 8.3333%; }
    .pwi-xs-2  { width: 16.6667%; }
    .pwi-xs-3  { width: 25%; }
    .pwi-xs-4  { width: 33.3333%; }
    .pwi-xs-5  { width: 41.6667%; }
    .pwi-xs-6  { width: 50%; }
    .pwi-xs-7  { width: 58.3333%; }
    .pwi-xs-8  { width: 66.6667%; }
    .pwi-xs-9  { width: 75%; }
    .pwi-xs-10 { width: 83.3333%; }
    .pwi-xs-11 { width: 91.6667%; }
    .pwi-xs-12 { width: 100%; }
    @media (min-width: 480px) {
    .pwi-sm-1  { width: 8.3333%; }
    .pwi-sm-2  { width: 16.6667%; }
    .pwi-sm-3  { width: 25%; }
    .pwi-sm-4  { width: 33.3333%; }
    .pwi-sm-5  { width: 41.6667%; }
    .pwi-sm-6  { width: 50%; }
    .pwi-sm-7  { width: 58.3333%; }
    .pwi-sm-8  { width: 66.6667%; }
    .pwi-sm-9  { width: 75%; }
    .pwi-sm-10 { width: 83.3333%; }
    .pwi-sm-11 { width: 91.6667%; }
    .pwi-sm-12 { width: 100%; }}
    @media (min-width: 768px) {
    .pwi-md-1  { width: 8.3333%; }
    .pwi-md-2  { width: 16.6667%; }
    .pwi-md-3  { width: 25%; }
    .pwi-md-4  { width: 33.3333%; }
    .pwi-md-5  { width: 41.6667%; }
    .pwi-md-6  { width: 50%; }
    .pwi-md-7  { width: 58.3333%; }
    .pwi-md-8  { width: 66.6667%; }
    .pwi-md-9  { width: 75%; }
    .pwi-md-10 { width: 83.3333%; }
    .pwi-md-11 { width: 91.6667%; }
    .pwi-md-12 { width: 100%; }}
    @media (min-width: 992px) {
    .pwi-lg-1  { width: 8.3333%; }
    .pwi-lg-2  { width: 16.6667%; }
    .pwi-lg-3  { width: 25%; }
    .pwi-lg-4  { width: 33.3333%; }
    .pwi-lg-5  { width: 41.6667%; }
    .pwi-lg-6  { width: 50%; }
    .pwi-lg-7  { width: 58.3333%; }
    .pwi-lg-8  { width: 66.6667%; }
    .pwi-lg-9  { width: 75%; }
    .pwi-lg-10 { width: 83.3333%; }
    .pwi-lg-11 { width: 91.6667%; }
    .pwi-lg-12 { width: 100%; }}
    @media (min-width: 1180px) {
    .pwi-xl-1  { width: 8.3333%; }
    .pwi-xl-2  { width: 16.6667%; }
    .pwi-xl-3  { width: 25%; }
    .pwi-xl-4  { width: 33.3333%; }
    .pwi-xl-5  { width: 41.6667%; }
    .pwi-xl-6  { width: 50%; }
    .pwi-xl-7  { width: 58.3333%; }
    .pwi-xl-8  { width: 66.6667%; }
    .pwi-xl-9  { width: 75%; }
    .pwi-xl-10 { width: 83.3333%; }
    .pwi-xl-11 { width: 91.6667%; }
    .pwi-xl-12 { width: 100%; }}










/*=============================================================================*/
/*  Carousel specific
/*=============================================================================*/

    .pwic-carousel .animated {
        -webkit-animation-duration: 1000ms;
                animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
    }
    .pwic-carousel .pwic-animated-in {
        z-index: 0;
    }
    .pwic-carousel .pwic-animated-out {
        z-index: 1;
    }
    .pwic-carousel .fadeOut {
        -webkit-animation-name: fadeOut;
                animation-name: fadeOut;
    }
    @-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }}
    @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }}
    .pwic-height {
        -webkit-transition: height 500ms ease-in-out;
           -moz-transition: height 500ms ease-in-out;
            -ms-transition: height 500ms ease-in-out;
             -o-transition: height 500ms ease-in-out;
                transition: height 500ms ease-in-out;
    }
    .pwic-carousel {
      display: none;
      position: relative;
      z-index: 1;

      -webkit-tap-highlight-color: transparent;
    }
    .pwic-carousel .pwic-stage {
        position: relative;

        -ms-touch-action: pan-Y;
    }
    .pwic-carousel .pwic-stage:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
    .pwic-carousel .pwic-stage-outer {
        overflow: hidden;
        position: relative;

        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    .pwic-carousel .pwic-controls .pwic-nav .pwic-prev,
    .pwic-carousel .pwic-controls .pwic-nav .pwic-next,
    .pwic-carousel .pwic-controls .pwic-dot {
        cursor: pointer;
        cursor: hand;

        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    .pwic-carousel.pwic-loaded {
        display: block;
    }
    .pwic-carousel.pwic-loading {
        display: block;
        opacity: 0;
    }
    .pwic-carousel.pwic-hidden {
        opacity: 0;
    }
    .pwic-carousel .pwic-refresh .pwic-item {
        display: none;
    }
    .pwic-carousel .pwic-item {
        float: left;
        min-height: 1px;
        position: relative;

        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
    }
    .pwic-carousel .pwic-item img {
        display: block;
        width: 100%;

        -webkit-transform-style: preserve-3d;
    }
    .pwic-carousel.pwic-text-select-on .pwic-item {
        -webkit-user-select: auto;
           -moz-user-select: auto;
            -ms-user-select: auto;
                user-select: auto;
    }
    .pwic-carousel .pwic-grab {
        cursor: move;
        cursor: -webkit-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }
    .pwic-carousel.pwic-rtl {
        direction: rtl;
    }
    .pwic-carousel.pwic-rtl .pwic-item {
        float: right;
    }
    .no-js .pwic-carousel {
      display: block;
    }
    .pwic-carousel .pwic-item .pwic-lazy {
        opacity: 0;

        -webkit-transition: opacity 400ms ease;
           -moz-transition: opacity 400ms ease;
            -ms-transition: opacity 400ms ease;
             -o-transition: opacity 400ms ease;
                transition: opacity 400ms ease;
    }
    .pwic-carousel .pwic-item img {
        transform-style: preserve-3d;
    }
    .pwic-carousel .pwic-video-wrapper {
        background: #000;
        height: 100%;
        position: relative;
    }
    .pwic-carousel .pwic-video-play-icon {
        background: url("pwic.video.play.png") no-repeat;
        cursor: pointer;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
        width: 80px;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        -webkit-backface-visibility: hidden;
        -webkit-transition: scale 100ms ease;
           -moz-transition: scale 100ms ease;
            -ms-transition: scale 100ms ease;
             -o-transition: scale 100ms ease;
                transition: scale 100ms ease;
    }
    .pwic-carousel .pwic-video-play-icon:hover {
        -webkit-transition: scale(1.3, 1.3);
           -moz-transition: scale(1.3, 1.3);
            -ms-transition: scale(1.3, 1.3);
             -o-transition: scale(1.3, 1.3);
                transition: scale(1.3, 1.3);
    }
    .pwic-carousel .pwic-video-playing .pwic-video-tn,
    .pwic-carousel .pwic-video-playing .pwic-video-play-icon {
        display: none;
    }
    .pwic-carousel .pwic-video-tn {
        height: 100%;
        opacity: 0;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
           -moz-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
        -webkit-transition: opacity 400ms ease;
           -moz-transition: opacity 400ms ease;
            -ms-transition: opacity 400ms ease;
             -o-transition: opacity 400ms ease;
                transition: opacity 400ms ease;
    }
    .pwic-carousel .pwic-video-frame {
        position: relative;
        z-index: 1;
    }
    .pwic-nav {
        position: absolute;
        top: -30px;
        right: 15px;
    }
        .pwic-nav:after {
            clear: both;
            content: '';
            display: block;
        }
        .pwic-prev,
        .pwic-next {
            float: left;
            height: 30px;
            width: 30px;
        }
            [data-style="rounded"] .pwic-prev {
                border-radius: 5px 0 0 5px;
            }
            [data-style="rounded"] .pwic-next {
                border-radius: 0 5px 5px 0;
            }
            [data-style="circle"] .pwic-prev {
                border-radius: 100% 0 0 100%;
            }
            [data-style="circle"] .pwic-next {
                border-radius: 0 100% 100% 0;
            }
            .pwic-prev:before,
            .pwic-next:before {
                display: block;
                direction: ltr;
                font-family: "Material Icons";
                font-feature-settings: "liga";
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                height: 30px;
                letter-spacing: normal;
                line-height: 30px;
                text-align: center;
                text-rendering: optimizeLegibility;
                text-transform: none;
                vertical-align: middle;
                white-space: nowrap;
                width: 30px;
                word-wrap: normal;

                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-feature-settings: "liga";
            }
                .pwic-prev:before {
                    content: '\E5CB';
                }
                .pwic-next:before {
                    content: '\E5CC';
                }
