<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>eparagony</name>
    <displayName><![CDATA[Dokumenty fiskalne: E-Paragony i E-faktury]]></displayName>
    <version><![CDATA[0.1.0]]></version>
    <description><![CDATA[Electronic fiscal documents subsystem.]]></description>
    <author><![CDATA[Spark]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall? It is not supported.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>