$font-jost: 'Jost', sans-serif;
$font-forum: 'Forum', cursive;
$font-roboto: 'Roboto', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xm: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-xxl: 35px;

$font-size-product-md: 24px;
$font-size-product-lg: 25px;

$white: #ffffff;
$black: #000000;
$green: #28a745;
$light-gray: #C4C4C4;
$border-menu-gray: #A8A8A8;
$dark-gray: #777777;
$gray: #969696;
$brown: #CCB48F;
$red: #f00000;
$background-gray: #eeeeee;
$background-circle-gray: #EBEBEB;
$gray-cart: #696969;
$gray-cart-quatity: #ECECEC;
$gray-filter: #5C5C5C;

$border-bottom-section: 1px solid #969696;
$border-bottom-mobile: 1px solid rgba(0, 0, 0, 0.07);
$border-footer-mobile: 1px solid rgba(255, 255, 255, 0.37);
$border-social: 1px solid #4E525B;
$border-comment: 1px solid #686868;

@mixin font-with-line-height($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}  