$font-jost: 'Jost', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 35px;

$white: #ffffff;
$black: #000000;
$light-gray: #C4C4C4;
$border-menu-gray: #A8A8A8;
$dark-gray: #777777;
$brown: #CCB48F;
$red: #f00000;