#order-slip {
    .page-content {
        .alert-warning {
            background-color: #f1f1f1;
            border-color: #f1f1f1;
            color: $black;
            margin-bottom: 20px;
        }
    }
}