.modal-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #fff;

  &__logo {
    fill: #000;
    stroke: #fff;
    stroke-width: 2px;
    filter: drop-shadow(1px 1px 1px black);
    transition: .3s ease;
    stroke-dasharray: 1041px;
    stroke-dashoffset: 0;
    animation: modal-loader-animate 1s ease;
  }
}
.quickview {
  .modal-header {
    border-bottom: 0;
    justify-content: center;
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  @media (min-width: 1536px) {
    .modal-content {
      min-height: 672px;
    }
  }
  .card {
    border: 0;
  }
  .modal-title-link,
  .modal-product-title {
    color: #000;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0 30px 0 0;
    position: relative;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      font-size: 16px;
      padding: 0 15px 0 0;
    }
  }
  .wishlist-button-product {
    position: absolute;
    right: 0;
    top: calc(50% - 20px);
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
  .modal-title-link {
    font-family: Forum,cursive;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 39px;
    text-decoration: none;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 14px;
      right: 0;
      top: calc(50% - 7px);
      background: url(~/img/icons/menu-left-arrow.svg);
      transform: rotate(180deg);
    }
  }
  .product-description-short {
    p {
      color: $gray-600;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
  .product-price {
    margin-bottom: 10px;
  }
  .product-sku {
    color: #777;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    label {
      color: #777;
    }
  }
  .price {
    color: #000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  &-product-link {
    color: #ccb48f;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 15px;
    font-size: 12px;
    &:hover {
      color: #ccb48f;
    }
  }
  .qty {
    width: 100%;
  }
  .slick-next {
    right: 50px;
    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }
  .slick-prev {
    left: 50px;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      left: 0;
    }
  }
  .comments_note {
    width: 100%;
    margin: auto;
    font-size: 12px;
    .star_content {
      display: inline-block;
      text-align: center;
      .star{
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        background: url(~/img/icons/star_gray.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        float: none;

        &.star_on{
            background: url(~/img/icons/star_active.svg) !important;
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
      }
      & + span{
        color: #777777;
        font-size: 12px;
        display: inline-block;
        vertical-align: -1px;
        margin-left: 5px;
        font-weight: 300;
      }
    }
  }
  .product-add-to-cart {
    .bootstrap-touchspin {
      border-style: none;
      height: auto;
      max-width: 75px;
      .btn {
        color: #000;
        &:hover {
          background-color: #fff;
        }
      }
    }
    .addtocart-input {
      color: #000;
      font-size: 12px;
      font-weight: 400;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-style: none;
      height: auto;
      max-width: 75px;
    }
    .add-to-cart {
      background: #000;
      border: 1px solid #000;
      border-radius: 0;
      color: #fff;
      display: block;
      font-size: 12px;
      font-weight: 400;
      height: auto;
      margin: 10px 0 5px;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
  .product-stock-info {
    font-size: $font-size-xs;
    color: #777;
    margin-bottom: 18px;
    display: block;
  }
  .product-stock-info__num {
    color: #000;
    font-weight: 500;
  }
  &__right-panel {
    max-height: 534px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &--wrapper {
      max-width: 382px;
    }
  }
  .control-label,
  .product-quantity-label {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }
  .modal-accordion {
    color: #000;
    font-size: 12px;
    padding-bottom: 10px;
    &__header {
      border-top: 1px solid rgba(0,0,0,.07);
      cursor: pointer;
      padding: 10px 0 10px 25px;
      position: relative;
      text-transform: uppercase;
      &:first-child {
        border-top-style: none;
      }
      &:before{
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        margin: auto;
        background: url(~/img/icons/plus-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 12px;
        height: 12px;
      }
    }
    &__body {
      line-height: 20px;
    }
  }
  .product-single__img {
    max-width: none;
    padding-top: 0;
  }
  .product-reference {
    margin: 10px 0;
  }
  .product-brand,
  .product-inspired {
    color: #000;
    display: block;
    font-size: 12px;
  }
  .product-brand {
    color: #777;
  }
  .product-img__asset {
    max-width: 100%;
    height: auto;
  }
  .product-variants {
    .variants-color {
      display: flex;
      li:first-child {
        margin-right: 10px;
      }
    }
    .variants-selection {
      li {
        display: inline-block;
        margin: 0!important;
        padding: 0 2px!important;
      }
      .attribute-radio__text {
        border: 1px solid transparent;
        border-radius: 0;
        font-size: 12px;
        font-weight: 400;
        height: auto;
        padding: 2px 10px;
        cursor: pointer;
      }
      .attribute-radio__input:checked ~ .attribute-radio__text{
        border: 1px solid $black;
        background: transparent;
        color: $black;
    }
    }
  }
}


@keyframes modal-loader-animate {
  0%
  {
    stroke-dashoffset: 1041px;
  }
  100%
  {
    stroke-dashoffset: 0;
  }
}