.blockcontentvideo{
    padding: 100px 0;
    width: 100%;
    height: auto;
    overflow: hidden;

    &__item{
        text-align: center;

        img{
            max-width: 140px !important;
            display: block;
            margin: 50px auto 35px;
        }

        p{
            @include font-with-line-height($font-size-xl, 35px);

            font-weight: 300;
            margin: 0 auto;
            max-width: 645px;
        }

        iframe{
            width: 100%;
            height: 480px;
        }
    }
}

@media (max-width: 1199px){
    .blockcontentvideo{
        padding: 50px 0 100px;
    }
}

@media (max-width: 991px){
    .blockcontentvideo{
        padding: 30px 0;

        &__item{
            margin-bottom: 30px;

            &:first-child{
                padding-top: 0;
            }

            img{
                margin-top: 0;
                max-width: 60px !important;
            }
    
            p{
                @include font-with-line-height($font-size-xs, 18px);
            }
    
            iframe{
                width: 100% !important;
                height: 300px !important;
            }
        }
    }
}

@media (max-width: 767px){
    .blockcontentvideo{
        &__item{
            &:last-child{
                margin-bottom: 0;
            }

            iframe{
                height: auto !important;
            }
        }
    }
}