.blockreassurance {
    max-width: 1500px;
    padding: 0 0 100px !important;
    margin: 0 auto !important;

    &__title {
        @include font-with-line-height($font-size-xxl, 39px);

        font-family: $font-forum;
        letter-spacing: 3px;
        margin-bottom: 50px;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-xl;
            margin-bottom: 30px;
        }
    }
    
    &__slider{
        width: 100%;

        .slick-dots{
            li{
                width: auto;
                height: auto;
                margin: 0 5px;
            }

            button{
                width: 10px;
                height: 10px;
                background-color: $light-gray;
                display: block;
                padding: 0;
                border-radius: 50%;

                &:before{
                    display: none;
                }

                &:hover{
                    background-color: $dark-gray;
                }
            }

            .slick-active{
                button{
                    background-color: $dark-gray;
                }
            }
        }
    }

    .block-icon {
        margin-bottom: 28px;

        img{
            margin-left: auto;
            margin-right: auto;
            visibility: visible !important;
        }
    }

    .block-title,
    p {
        font-size: $font-size-sm;
    }

    p {
        max-width: 229px;
    }
}

@media (max-width: 991px){
    .blockreassurance {
        padding: 0 0 50px !important;

        &__title{
            @include font-with-line-height($font-size-xxl, 39px);
        }
    }
}