.wishlist-modal{
    display: none !important;

    &.show {
        position: fixed;
        max-width: 500px;
        width: 100%;
        height: 400px;
        padding: 20px;
        background-color: $white;
        border-style: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block !important;
        padding: 0;

        .modal{
            &-header{
                padding: 15px;

                .close span{
                    height: 30px;
                    display: block;
                    width: 30px;
                    padding: 0;
                    margin: 0;
                    line-height: 22px;
                    font-size: 30px;
                }
            }
    
            &-title{
                @include font-with-line-height($font-size-lg, 24px);
                
                font-family: $font-forum;
                font-weight: normal;
                text-transform: uppercase;
                margin: 0;   
            }

            &-body{
                .wishlist-list{
                    max-height: 292px;
                    border-top: $border-bottom-mobile;
                    border-bottom: $border-bottom-mobile;

                    &-item{
                        p{
                            padding-right: 20px;
                            padding-left: 20px;
                        }

                        &:hover{
                            background: $background-gray;
                        }
                    }
                }
            }

            &-footer{
                .wishlist-add-to-new{
                    color: $black !important;
                    transition: none;

                    i{
                        color: $black;
                        transition: none;
                    }

                    &:hover{
                        color: $brown !important;

                        i{
                            color: $brown;
                        }
                    }
                }
            }
        }
    }

    & + .modal-backdrop{
        &.fade{
            display: none;    

            &.in{
                z-index: 100;
                background: rgba(0,0,0,0.5);
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.wishlist-create,
.wishlist-login,
.wishlist-delete,
.wishlist-share,
.wishlist-rename{
    .modal{
        &-body{
            padding: 15px !important;

            input[type=text]{
                padding: 10px;
                height: auto;
                font-size: $font-size-sm;
            }
        }

        &-footer{
            padding: 0 15px !important;

            .btn{
                display: block;
                border: 1px solid $black;
                background: $black;
                color: $white;
                text-align: center;
                text-transform: uppercase;
                font-size: $font-size-xs;
                padding: 5px;
                height: auto;
                margin: 0;
                width: 100%;
                border-radius: 0;
                font-weight: normal;

                &.modal-cancel{
                    background: $gray;
                    border: 1px solid $gray;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.wishlist-add-to,
.wishlist-create,
.wishlist-delete,
.wishlist-login,
.wishlist-share,
.wishlist-rename{
    position: fixed;
    z-index: 3000;

    .modal-dialog{
        min-height: auto;
        padding: 0;
        margin: 0;

        .modal-content{
            border-style: none;
            border-radius: 0;
        }

        .modal-footer{
            display: block;
        }
    }
}

.wishlist-toast{
    border-radius: 0 !important; 
    padding: 5px 15px !important;
    text-transform: uppercase;
}

.wishlist-add-to-new i{
    color: $black !important;
}

.wishlist-list-item-link:hover{
    text-decoration: none;
    color: $black;
}

.wishlist-list-item:hover .wishlist-list-item-title{
    color: $black !important;
    text-decoration: underline;
}

.wishlist-list-item-right .dropdown-menu{
    position: absolute;
    z-index: 10;
}

.l-main{
    .wishlist-toast{
        top: 130px;
    }

    .sticky-menu-correction.correction-padding .wishlist-toast{
        top: 70px;
    }
}