.blockcontentvideo{
    padding: 100px 0;
    width: 100%;
    height: auto;
    overflow: hidden;

    &__item{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            max-width: 140px !important;
            display: block;
            margin: 0 auto 35px;
            height: auto;
        }

        p{
            @include font-with-line-height($font-size-xm, 26px);

            font-weight: 300;
            margin: 0 auto 10px;
            max-width: 645px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        iframe{
            width: 100%;
        }
    }
}

@media (max-width: 1199px){
    .blockcontentvideo{
        padding: 50px 0 100px;
    }
}

@media (max-width: 1024px){
    .blockcontentvideo{
        padding: 50px 0;

        &__item{
            p{
                @include font-with-line-height($font-size-xm, 28px);
            }
        }
    }
}

@media (max-width: 991px){
    .blockcontentvideo{
        padding: 50px 0;

        &__item{
            margin-bottom: 50px;

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }

            img{
                margin-top: 0;
                max-width: 120px !important;
            }
    
            p{
                @include font-with-line-height($font-size-xm, 26px);
            }
    
            iframe{
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 767px){
    .blockcontentvideo{
        &__item{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}