.block_newsletter {
    background-color: #f1f1f1;

    &__label {
        font-size: 25px;
        line-height: 28px;
        letter-spacing: 0.08em;
        color: $black;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.1em;
        }
    }

    .container {
        @include media-breakpoint-up(xl) {
            max-width: 1500px;
        }
    }

    .input-group {
        margin-bottom: 11px;
    }

    .form-control {
        border-color: #fff;
        max-width: 376px;
        height: 54px;
        border-radius: 0;
        color: #000;
        font-weight: 300;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        @include media-breakpoint-down(sm) {
            height: 30px;
        }
    }

    .btn-primary {
        min-width: 155px;
        background-color: #fff;
        border: 1px solid #b6b6b6;
        border-radius: 0;
        color: #000;
        font-weight: 300;

        &:hover,
        &:focus,
        &:active {
            background-color: #000 !important;
            border-color: #000 !important;
            color: #fff;
            box-shadow: none !important;
        }

        @include media-breakpoint-down(sm) {
            height: 30px;
            line-height: 30px;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12px;
        }
    }

    .custom-control-input {
        box-shadow: none;
        outline: none;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: #000;
        background-color: #000;
    }

    .custom-control-label {
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.15em;
        color: #000;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
            line-height: 16px;
        }

        &::before {
            border-color: #000;
            border-radius: 0;
            top: 0.2rem;
        }

        a {
            color: #000;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}