.blockfullbanner{
    width: 100%;
    height: auto;
    text-align: center;
}

.canvas-parallax{
    overflow: hidden;
    display: block;
    height: auto;
    width: 100%;
    background: $white;
    position: relative;
    z-index: 0;
    min-height: 100vh;

    &__img{
        width: 100%;
        height: auto;
        opacity: 0;
    }

    &__element{
        position: absolute;
        z-index: 3000;
        display: block;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        top: 0;
    }
}