.blockreassurance {
    max-width: 1500px;

    &__title {
        font-size: 35px;
        margin-bottom: 62px;

        @include media-breakpoint-down(sm) {
            font-size: 22px;
            margin-bottom: 53px;
        }
    }
    
    &__slider{
        width: 100%;

        .slick-dots{
            li{
                width: auto;
                height: auto;
                margin: 0 5px;
            }

            button{
                width: 10px;
                height: 10px;
                background-color: $light-gray;
                display: block;
                padding: 0;
                border-radius: 50%;

                &:before{
                    display: none;
                }

                &:hover{
                    background-color: $dark-gray;
                }
            }

            .slick-active{
                button{
                    background-color: $dark-gray;
                }
            }
        }
    }

    .block-icon {
        margin-bottom: 28px;
    }

    .block-title,
    p {
        font-size: 12px;
    }

    p {
        max-width: 229px;
    }
}