@import "@fancyapps/ui/dist/fancybox.css";
@import "product-miniature";
@import "product-flags";
@import "customization-modal";
@import "price";
@import "stars";
@import "products-list";
@import "product-slider";
@import "comments-pagination";
@import "product-single";
@import "product-comment";
@import "product-category";
@import "product-pagination";
@import "product-social";
@import "product-sales";
@import "product-brands";
