.page-product{
    nav[aria-label=breadcrumb]{
        display: none;
    }

    .arpl-group{
        padding: 40px 0;
        margin: 0;
    }

    .arpl-section{
        margin-bottom: 0 !important;
    }

    #arpl-section-13-40-carousel,
    #arpl-section-13-25-carousel,
    #arpl-section-13-26-carousel,
    #arpl-section-12-27-carousel,
    #arpl-section-13-27-carousel,
    #arpl-section-13-28-carousel,
    #arpl-section-12-31-carousel{
        width: 100%;

        .slick{
            &-arrow{
                background: url(~/img/icons/left-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 35px;
                height: 40px;
                opacity: 0.5;
                left: 0;
                z-index: 20;
                top: -25%;
                bottom: 0;
                margin: auto;

                &:before{
                    display: none;
                }
            }

            &-next{
                background: url(~/img/icons/right-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                left: auto;
                right: 0;
            }
        }

        .products-list__block{
            display: block;
            width: 100%;
            max-width: none;
            margin-bottom: 0;

            .product{
                &-miniature{
                    border-style: none;
                    padding: 0 !important;
    
                    &__thumb{
                        img{
                            margin: auto;

                            &.lazyload:not(.loaded){
                                background: $white !important;
                            }
                        }

                        .quick-view{
                            display: none;
                        }

                        .comments_note{
                            width: 100%;

                            .star_content{
                                text-align: center;
                                margin-top: 20px;

                                .star{
                                    margin: 0;
                                    padding: 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                    background: url(~/img/icons/star_gray.svg);
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    width: 10px;
                                    height: 10px;
                                    float: none;
                
                                    &.star_on{
                                        background: url(~/img/icons/star_active.svg) !important;
                                        background-size: contain !important;
                                        background-position: center !important;
                                        background-repeat: no-repeat !important;
                                    }
                                }

                                & + span{
                                    display: none;
                                }
                            }
                        }
                    }

                    &__title{
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: $font-size-sm;
                        text-align: center;
                        color: $black;
                        height: auto;
                    }

                    &__pricing{
                        text-align: center !important;
                        margin-bottom: 0;

                        .price{
                            font-size: $font-size-sm;
                            font-weight: 400;
                            color: $black;
                            margin-right: 5px;

                            &--regular{
                                color: $light-gray;
                                font-size: $font-size-xs;
                                margin-right: 0;
                            }

                            &--discounted{
                                color: $red;
                            }
                        }
                    }

                    &__actions{
                        display: none;
                    }
                }

                &-flags{
                    display: none !important;
                }
            }
        }
    }

    #arpl-group-12{
        .arpl-header .arpl-title{
            font-family: $font-forum;
            font-size: $font-size-xxl;
            font-weight: 300;
            margin: 0 0 40px;
            color: $black;
            letter-spacing: 3px;
        }
    }

    #arpl-group-13{
        &.arpl-group-tabbed{
            margin: 0;

            .nav-tabs{
                justify-content: center;
                width: 100%;
                margin-bottom: 40px;
                border-bottom-style: none;
            }

            .nav-item{
                position: relative;
                padding-left: 20px;
                padding-right: 20px;
                
                &:after{
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: $black;
                }

                &:last-child:after{
                    display: none;
                }
            }

            .nav-link{
                @include font-with-line-height($font-size-xxl, 38px);

                text-transform: uppercase;
                color: $dark-gray;
                padding: 0;
                border-style: none;
                font-weight: 300;
                font-family: $font-forum;
                letter-spacing: 3px;

                &.active{
                    color: $black;
                }
            }

            .tab-content{
                border-style: none;

                .tab-pane{
                    padding: 0;

                    .arpl-header{
                        display: none;
                    }

                    .arpl-content{
                        padding: 0;
                    }
                }
            }
        }
    }
}

.product-single{
    padding: 20px 0;

    & > .container{
        max-width: 1140px;
    }

    &__img{
        max-width: 450px;
        margin: auto;
        padding-top: 50px;

        .wishlist-button-add.wishlist-button-product{
            display: none;
        }

        .product-wishlist--mobile{
            display: none;
        }

        .product-img{
            text-align: center;

            &__url{
                display: block;
            }

            &__asset{
                display: block;
                margin: auto;    
            }
        }

        .slick{
            &-arrow{
                background: url(~/img/icons/left-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 35px;
                height: 40px;

                &:before{
                    display: none;
                }
            }

            &-next{
                background: url(~/img/icons/right-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &__info{
        .product{
            &-rating{
                .comments_note{
                    width: 100%;

                    .star_content{
                        text-align: center;
                        margin-top: 20px;
                        display: inline-block;

                        .star{
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                            vertical-align: middle;
                            background: url(~/img/icons/star_gray.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 10px;
                            float: none;
        
                            &.star_on{
                                background: url(~/img/icons/star_active.svg) !important;
                                background-size: contain !important;
                                background-position: center !important;
                                background-repeat: no-repeat !important;
                            }
                        }

                        & + span{
                            font-family: $font-jost;
                            color: $dark-gray;
                            font-size: $font-size-xs;
                            display: inline-block;
                            vertical-align: -1px;
                            margin-left: 5px;
                            font-weight: 300;
                        }
                    }
                }
            }

            &-title{
                font-weight: normal;
                margin: 0 0 10px;
                font-size: $font-size-product-lg;
                position: relative;
                padding: 0 30px 0 0;
                color: $black;

                .wishlist-button-add.wishlist-button-product{
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 18px;
                    border-style: none;
                    background: transparent;
                    width: auto;
                    height: auto;
                    box-shadow: none;
                }
            }
            
            &-wishlist{
                opacity: 0.5;
                position: absolute;
                top: 2px;
                right: 0;
                line-height: 18px;
            }

            &-reference{
                margin: 10px 0;
            }

            &-inspired,
            &-brand{
                display: block;
                font-size: $font-size-xs;
                color: $black;
            }

            &-brand{
                color: $dark-gray;
            }

            &-prices{
                margin-bottom: 10px;
                
                .price{
                    color: $black;
                    font-weight: 400;
                    font-size: $font-size-product-lg;

                    &--regular{
                        color: $light-gray;
                        font-size: $font-size-lg;
                    }
    
                    &--discounted{
                        color: $red;
                    }
                }
            }

            &-stock-info{
                font-size: $font-size-xs;
                color: $dark-gray;
                margin-bottom: 10px;
                display: block;

                &__num{
                    color: $black;
                    font-weight: 500;
                }
            }

            &-variants-item{
                margin-bottom: 10px;

                .control-label{
                    font-size: $font-size-xs;
                    font-weight: 500;
                    margin: 0;
                    color: $black;
                }

                .variants-selection{
                    margin: 0;
                    padding: 0;

                    li{
                        display: inline-block;
                        margin: 0 !important;
                        padding: 0px 2px !important;

                        .attribute-radio__text{
                            border: 1px solid transparent;
                            font-size: $font-size-xs;
                            padding: 2px 10px;
                            border-radius: 0;
                            font-weight: normal;
                            height: auto;
                        }

                        .attribute-radio__input:checked ~ .attribute-radio__text{
                            border: 1px solid $black;
                            background: transparent;
                            color: $black;
                        }
                    }
                }

                .variants-color{
                    margin: 0;
                    padding: 0;

                    li{
                        display: inline-block;
                        padding: 0 2px;

                        .custom-control-label{
                            cursor: pointer;
                        }
                    }
                }
            }

            &-quantity-label{
                font-size: $font-size-xs;
                font-weight: 500;
                margin: 0;
                color: $black;
                display: block;
            }

            &-quantity{
                width: 100%;
                display: block !important;
            }

            &-add-to-cart{
                .input-group{
                    border-style: none;
                    height: auto;
                    max-width: 75px;

                    .addtocart-input{
                        border-left-style: none;
                        border-right-style: none;
                        font-size: $font-size-xs;
                        font-weight: normal;
                        color: $black;
                    }

                    .input-group-btn{
                        .btn{
                            color: $black;
                        }

                        .btn:hover,
                        .btn:focus{
                            background: $white;
                        }
                    }
                }

                .badge{
                    border-radius: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .add-to-cart{
                    display: block;
                    border: 1px solid $black;
                    background: $black;
                    color: $white;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: $font-size-xs;
                    padding: 5px;
                    height: auto;
                    margin: 10px 0 5px;
                    width: 100%;
                    border-radius: 0;
                    font-weight: normal;
                }
            }

            &-sku{
                display: block;
                margin: 10px 0;
                text-transform: uppercase;
                font-size: $font-size-xs;
                color: $dark-gray;
            }

            &-description{
                font-size: $font-size-xs;
            }

            &-accordion{
                color: $black;
                font-size: $font-size-xs;
                padding-bottom: 10px;

                &__item{
                    &:first-child{
                        .product-accordion__header{
                            border-top-style: none;
                        }
                    }
                }

                &__header{
                    cursor: pointer;
                    text-transform: uppercase;
                    padding: 10px 0 10px 25px;
                    position: relative;
                    border-top: $border-bottom-mobile;

                    &:before{
                        content: '';
                        position: absolute;
                        top: 11px;
                        left: 0;
                        margin: auto;
                        background: url(~/img/icons/plus-icon.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                    }
                }

                &__body{
                    line-height: 20px;

                    p{
                        margin-bottom: 10px;
                    }
                }
            }

            &-social{
                margin-top: 20px;

                .social-sharing{
                    &__title{
                        margin: 0;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: $font-size-xs;
                        font-weight: normal;
                        text-transform: uppercase;
                        margin-right: 5px;
                        letter-spacing: 1px;
                    }

                    &__list{
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    &__item{
                        margin: 0;
                        display: inline-block;
                        padding: 0 2px;
                    }

                    &__link{
                        display: block;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        border: $border-social;
                        border-radius: 50%;
                        padding: 2px 0;
                        font-size: $font-size-sm;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px){
    .product-single{
        &__img{
            .slick-arrow{
                left: 5px;
            }

            .slick-next{
                left: auto;
                right: 5px;
            }
        }
    }
}

@media (max-width: 767px){
    .page-product{
        .arpl-group{
            padding: 20px 0;
        }
        
        #arpl-section-13-40-carousel,
        #arpl-section-13-25-carousel,
        #arpl-section-13-26-carousel,
        #arpl-section-12-27-carousel,
        #arpl-section-13-27-carousel,
        #arpl-section-13-28-carousel,
        #arpl-section-12-31-carousel{
            .slick{
                &-arrow{
                    width: 25px;
                    height: 30px;
                    left: 0;
                }
    
                &-next{
                    left: auto;
                    right: 0;
                }
            }

            .products-list__block{
                .product{
                    &-miniature{
                        &__title{
                            font-size: $font-size-xs;
                        }
    
                        &__pricing{
                            .price{
                                font-size: $font-size-xs;
                            }
                        }
                    }
                }
            }
        }

        #arpl-group-12{
            .arpl-header .arpl-title{
                font-size: $font-size-xm;
                margin-bottom: 20px;
            }
        }

        #arpl-group-13{
            &.arpl-group-tabbed{
                .nav-tabs{
                    display: none;
                    margin-bottom: 0;

                    .nav-item:after{
                        display: none;
                    }

                    .nav-link{
                        @include font-with-line-height($font-size-xm, 21px);
                        
                        text-align: center;
                        cursor: pointer;
                        padding-top: 5px;
                        margin-top: 5px;
                        border-top: $border-bottom-mobile;
                        border-radius: 0;
                        letter-spacing: 1px;
                    }

                    .nav-item:last-child{
                        .nav-link{
                            border-bottom: $border-bottom-mobile;
                        }
                    }
                }

                .nav-tabs-mobile-label{
                    @include font-with-line-height($font-size-xm, 21px);
                    
                    font-family: $font-forum;
                    letter-spacing: 1px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $black;
                    padding: 0;
                    border-style: none;
                    font-weight: 300;
                    margin: 0;

                    &:after{
                        content: '';
                        background: url(~/img/icons/left-arrow.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 20px;
                        height: 30px;
                        transform: rotate(-90deg);
                        display: inline-block;
                        vertical-align: -9px;
                    }
                }

                .tab-content{
                    margin-top: 20px;

                    .arpl-tab-header{
                        display: none;
                    }
                }

                &.no-tab-available{
                    .nav-tabs{
                        display: block;

                        .nav-item .nav-link{
                            border-style: none !important;
                        }
                    }
                }
            }
        }
    }

    .product-single{
        &__img{
            padding-top: 0;

            .product-img{
                position: relative;
            }

            .product-wishlist--mobile{
                display: block;
                position: absolute;
                top: 0;
                right: -50%;
                opacity: 0.5;
                width: 20px;
                left: 0;
                margin: auto;
            }

            .wishlist-button-add.wishlist-button-product{
                display: block;
                position: absolute;
                top: 0;
                right: -50%;
                opacity: 0.5;
                width: 20px;
                left: 0;
                margin: auto;
                box-shadow: none;
                width: auto;
                height: auto;
            }
        }

        &__info{
            .product{
                &-rating,
                &-title,
                &-reference,
                &-price,
                &-actions{
                    text-align: center;
                }

                &-rating{
                    .comments_note{
                        .star_content{
                            display: block;

                            .star{
                                width: 12px;
                                height: 12px;
                            }

                            & + span{
                                display: block;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }

                &-title{
                    padding: 0;
                    font-size: $font-size-sm;

                    .wishlist-button-add.wishlist-button-product{
                        display: none;
                    }
                }

                &-add-to-cart{
                    .input-group{
                        margin: auto;
                    }
                }

                &-wishlist{
                    display: none;
                }

                &-prices{
                    .price{
                        font-size: $font-size-xm;

                        &--regular{
                            font-size: $font-size-sm;
                        }
                    }
                }

                &-img{
                    .wishlist-button-add.wishlist-button-product{
                        display: block;
                    }
                }

                &-stock-info{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 380px){
    .page-product{
        #arpl-section-13-40-carousel,
        #arpl-section-13-25-carousel,
        #arpl-section-13-26-carousel,
        #arpl-section-12-27-carousel,
        #arpl-section-13-27-carousel,
        #arpl-section-13-28-carousel,
        #arpl-section-12-31-carousel{
            .slick{
                &-arrow{
                    top: -45%;
                }
            }
        }
    }
}

@media (min-width: 768px){
    .nav-tabs-mobile-label{
        display: none;
    }

    .page-product{
        #arpl-group-13.arpl-group-tabbed{
            .nav-tabs{
                display: flex !important;
            }
        }
    }
}