.listing-pagination {
    position: relative;
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 0.1em;
    &__prev {
        position: absolute;
        left: 0;
    }
    &__next {
        position: absolute;
        right: 0;
    }
    &__prev,
    &__next {
        color: $black;
        &:hover {
            color: $black;
        }
    }
}