.cart-grid{
    font-family: $font-jost;
    color: $black;
    margin-bottom: 50px;

    .card{
        border-style: none;
        
        &-header{
            border-style: none;
            background: none;
            padding: 0;
            margin: 0 0 50px;
        }

        &-title{
            @include font-with-line-height($font-size-product-lg, 27px);

            font-family: $font-forum;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $black;
        }

        &-body{
            padding: 0 50px 50px;
        }
    }

    .cart-items{
        .product-line-grid{
            padding-bottom: 20px;
            padding-top: 20px;
            margin: 0;
            border-bottom: $border-bottom-mobile;

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                padding-bottom: 0;
                border-bottom-style: none;
            }

            &__title{
                @include font-with-line-height($font-size-xm, 24px);

                font-weight: 500;
                margin: 0 0 10px;
                color: $black;
            }

            &__category{
                @include font-with-line-height($font-size-sm, 18px);

                font-weight: 300;
            }

            &__block{
                .input-group{
                    border-style: none;

                    .btn{
                        @include font-with-line-height($font-size-xm, 24px);

                        font-weight: 500;
                        color: $black;

                        &:hover,
                        &:focus{
                            background: transparent;
                            box-shadow: none;
                        }
                    }
                }

                .form-control{
                    @include font-with-line-height($font-size-xm, 24px);

                    font-weight: 500;
                    border-style: none;
                    height: auto;
                    color: $black;

                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }

        .product-line-info{
            margin-top: 5px;
        }

        .price{
            @include font-with-line-height($font-size-xm, 24px);

            color: $black;
            font-weight: 500;    
        }

        .price--regular{
            @include font-with-line-height($font-size-sm, 16px);

            color: $light-gray;
            font-weight: 300;    
        }

        .material-icons{
            color: $gray !important;
        }
    }

    .cart{
        &-summary{
            padding: 0 50px;

            .card-body{
                padding: 0;

                & + .card-body{
                    border-top-style: none;
                }

                .checkout a,
                .checkout .btn-primary.disabled{
                    @include font-with-line-height($font-size-xs, 16px);

                    font-weight: 300;
                    background: $black;
                    display: block;
                    margin-top: 30px;
                    border-radius: 0;
                    border-style: none;
                    color: $white !important;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    width: 100%;

                    &:focus,
                    &:hover{
                        box-shadow: none;
                        outline: none;
                    }
                }
            }

            &-line{
                @include font-with-line-height($font-size-sm, 16px);

                .label{
                    font-weight: 300;
                }

                .value{
                    font-weight: 500;
                }

                &.cart-total{
                    @include font-with-line-height($font-size-xm, 24px);

                    .label{
                        font-weight: 500;
                    }
                }
            }
        }

        &-header{
            border-style: none;
            background: none;
            padding: 0;
            margin: 0 0 30px;
        }

        &-title{
            @include font-with-line-height($font-size-product-lg, 27px);

            font-family: $font-forum;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $black;
        }
    }

    &-right{
        border-left: $border-bottom-mobile;
    }

    .block-promo{
        .h6{
            font-weight: 500;
            padding: 15px 0 0;
        }

        .promo-code{
            .promo-input,
            .input-group-append .btn{
                height: auto;
                font-size: $font-size-xs;
                border-radius: 0;
                padding: 5px 10px;
                font-weight: normal;

                &:focus{
                    box-shadow: none;
                    border-color: #ced4da;
                }
            }

            .promo-input{
                border-right-style: none;
            }

            .input-group-append .btn{
                text-transform: uppercase;
                background: $black;
                border-color: $black;

                &:focus{
                    box-shadow: none;
                    border-color: $black;
                }
            }
        }
    }
}

#empty-cart-notice{
    text-align: center;

    h1{
        @include font-with-line-height($font-size-product-lg, 27px);
    
        font-family: $font-forum;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $black;
    }

    a.label{
        @include font-with-line-height($font-size-sm, 16px);

        text-transform: uppercase;
        display: inline-block !important;

        .laquo{
            font-size: $font-size-xm;
        }

        &:hover{
            text-decoration: none;
        }
    }
}

.featured-products--related{
    width: 100%;
    overflow: hidden;
    
    .featured-products{
        &__title{
            @include font-with-line-height($font-size-xxl, 38px);

            font-family: $font-forum;
            letter-spacing: 3px;
            margin: 0 0 50px;
            text-transform: uppercase;
            font-weight: 400;
            color: $black;
            text-align: center;
            display: block;
            width: 100%;
        }

        &__wrapper{
            width: 100%;
            height: auto;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .products-list__block{
        display: flex;
        flex: 0 0 16%;
        max-width: 16%;
        margin-bottom: 50px;
        justify-content: center;

        @media(max-width: 991px){
            flex: 50%;
            max-width: 50%;
        }
  
        .product{
            &-miniature{
                border-style: none;
                padding: 0 !important;
  
                &__thumb{
                    img{
                        margin: auto;
                        display: block;
                        width: 100%;
        
                        &.lazyload:not(.loaded){
                            background: $white !important;
                        }
                    }

                    .quick-view{
                        display: none;
                    }


                    &:hover {
                        .quick-view{
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            background: #fff;
                            bottom: 0;
                            border: 1px solid #f4f4f4;
                            border-bottom-left-radius: 5px;
                            align-items: center;
                            border-bottom-right-radius: 5px;
                        }
                    }
    
                    .comments_note{
                        width: 100%;
                    }

                    .star_content{
                        text-align: center;
                        margin-top: 20px;
    
                        .star{
                            margin: 0;
                            padding: 0;
                            display: inline-block;
                            vertical-align: middle;
                            background: url(~/img/icons/star_gray.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 10px;
                            height: 10px;
                            float: none;
        
                            &.star_on{
                                background: url(~/img/icons/star_active.svg) !important;
                                background-size: contain !important;
                                background-position: center !important;
                                background-repeat: no-repeat !important;
                            }
                        }
    
                        & + span{
                            display: none;
                        }
                    }
                }
  
                &__title{
                    font-weight: 400;
                    font-size: $font-size-sm;
                    text-align: center;
                    color: $black;
                    height: auto;
                }
    
                &__pricing{
                    text-align: center !important;
                    margin-bottom: 0;
        
                    .price{
                        font-size: $font-size-xs;
                        font-weight: 400;
                        color: $black;
                        margin-right: 0;
        
                        &--regular{
                            color: $light-gray;
                            font-size: $font-size-xs;
                            margin-right: 5px;
                        }

                        &--discounted{
                            color: $red;
                        }

                        &-attribute{
                            @include font-with-line-height($font-size-xs, 15px);
                            font-weight: 300;
                            display: block;

                            &--default{
                                font-weight: 400;
                            }
                        }
                    }
                }
  
                &__actions{
                    display: none;
                }
            }
  
            &-flags{
                display: none !important;
            }
        }
    }
}

@media (max-width: 991px){
    .cart-grid{
        &-right{
            border-left-style: none;
        }
    }

    .createit_countdown_wrapper{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px){
    .cart-grid{
        .card{
            &-body{
                padding: 0 0 30px;
            }
        }

        .cart{
            &-summary{
                padding: 0;
            }
        }
    }
}

#przelewy24Form #submitButton{
    @include font-with-line-height($font-size-xs, 16px);

    font-weight: 300;
    background: $black;
    display: block;
    border-radius: 0;
    border-style: none;
    color: $white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
    box-shadow: none;
    outline: none;

    &:focus,
    &:hover{
        box-shadow: none;
        outline: none;
    }
}

.p24-payment-return-page{
    .price{
        font-size: $font-size-xm;
        font-weight: 500;
        line-height: 24px;
        color: $black;
    }

    .p24-choose{
        @include font-with-line-height($font-size-product-lg, 27px);

        font-family: $font-forum;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        margin: 0;
        font-weight: 400;
        margin: 30px 0 0;
        padding: 0;
        color: $black;
    }

    .p24-remember-my-card{
        vertical-align: -1px;
    }
}