.table-striped {
    font-size: $font-size-sm;
    color: $black;
    font-weight: 300;

    thead {
        th {
            border-bottom-width: 0.5px;
            line-height: 18px;
            font-weight: 500;
            vertical-align: top;
        }
    }

    th, td {
        border-color: rgba($black, .07);
    }

    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: #f1f1f1;
            }

            & > th {
                font-weight: 500;
            }

            .text-primary {
                color: $black !important;
            }

            .badge {
                background-color: $brown !important;
            }

            .btn-primary {
                width: auto !important;
            }

            .font-weight-bold {
                font-weight: 500 !important;
            }
        }    
    }
}