{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}

        <div class="row">
            <div class="col">
                {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': grid} %}
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('../modules/createit_customfield/views/js/createit_customfield.bundle.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
{% endblock %}
